.Comman-card{
    width: 500px;
    background: #ffffff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.Card-1{
    border-style:none;
    height:200px;
    width: 400px;
    background: #ffffff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.Card-img{
    height: 100px;
    width: 100px;
}
.button-val{
    margin-left: 2%;
}
.post-col{
    background-color: rgb(178, 138, 218);
}
.Jumbo{
    
    background-color: #ebebeb;
    height: 700px;
    background-image: url("https://cdn.dribbble.com/users/508588/screenshots/14009905/media/ee568ce51546e456c9ea0cf9e623e329.jpg?compress=1&resize=1200x900");
}